@font-face {
	font-family: 'DSEG7Classic';
	src: 
		url('/client/font/DSEG7Classic-Regular.woff') format('woff'),
		url('/client/font/DSEG7Classic-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	flex-direction: col;
}

#status {
	width: 99%;
	font-size: 7rem;
	text-align: center;
	font-family: Helvetica, sans-serif;
}

.status-inactive-container {
	display: flex;
	visibility: hidden;
}

.status-active-container {
	display: flex;
}

.snooze-button {
	flex-grow: 2;
	background: green;
	color: black;
	text-decoration: none;
}

.stop-button {
	flex-grow: 1;
	background-color: darkred;
	color: black;
	text-decoration: none;
}

.stop-button.enabled {
	background-color: crimson;
}

.status-snoozing-container {
	color: green;
}

#clock {
	width: 99%;
	font-size: 14rem;
	text-align: right;
	font-family: 'DSEG7Classic';
	color: orangered;
}

#alarm {
	width: 98%;
	font-size: 4rem;
	font-family: Helvetica, sans-serif;
	color: orange;
}

.alarm-pending {
	display: flex;
}

.alarm-name {
	flex: 2 2 55vw;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	text-align: right;
}
.alarm-divider {
	flex: 1 1 1vw;
	margin: 0 1vw;
}
.alarm-time {
	flex: 1 1 30vw;
	white-space: nowrap;
	text-align: left;
}
